.edit-icon-custom{
    font-size: 30px;
    color: aquamarine;
}
.delete-icon-custom {
    font-size: 30px;
    color: red;
}
#spinner {
    z-index: 10000;
    position: fixed;
    width: 110%;
    height: 100%;
    margin-top: 0px;
    margin-left: -100px;
    background: rgba(0, 0, 0, 0.5);
}
    #spinner img {
        position: fixed;
        top: 50%;
        left: 43%;
    }
